# ETHINX Studio Brand Repo

# OS & Editor files
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
.vscode/
.idea/
__pycache__/

# Image / Render Cache
*.psd
*.tif
*.tiff
*.blend1
*.xcf
*.cache

# Node / Python / Build artifacts
node_modules/
dist/
.env
.env.local
.env.*
